import { Record } from "immutable";

export interface I{{ properCase name }} {}

export const {{ properCase name }} = Record<I{{ properCase name }}>({});

export type I{{ properCase name }}JSON = ReturnType<Record<I{{ properCase name }}>["toJS"]>;

export const INITIAL_STATE = {{ properCase name }}();
export const STORE_NAME = "{{ name }}";
